@import "colors";

$color-nav-primary-bg: #f9f9f9;
$color-nav-primary-txt: #222;
$color-nav-secondry-bg: #000;
$color-nav-secondry-txt: #fff;
$color-nav-sub-bg: #222;
$color-nav-sub-txt: #fff;
$color-nav-highlight: #f00;
$color-nav-primary-highlight: $color-nav-highlight;
$color-nav-secondry-highlight: $color-nav-highlight;
$nav-font-family: Arial, Helvetica, sans-serif;
$nav-height: 110px;
$nav-primary-height: $nav-height * 0.6;
$nav-secondry-height: $nav-height * 0.5;
$nav-max-width: 1600px;

.promo-popup-btn-wrapper,
.nav-container{
  display: none;
}
.admin-bar .nav-primary{
  top: 32px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $nav-max-width;
  height: 100%;
  margin: 0 auto;
}

.nav{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: $nav-height;
  margin-bottom: 2rem;
  font-family: $nav-font-family;
  z-index: 10;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);

  *{
    transition: all ease-in-out 300ms;
  }

  a,
  span{
    color: inherit;
    padding: 2rem 1rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover{
      text-decoration: none;
      color: $color-nav-highlight;
    }
  }

  &-primary{
    height: $nav-primary-height;
    position: sticky;
    top: 0;
    background-color: $color-nav-primary-bg;
    color: $color-nav-primary-txt;
    z-index: 2;
    a,
    span{
      font-size: 1.6rem;
      padding: 2.5rem 1rem;
    }
    .nav-regions{
      margin-left: 50px;
    }
    .nav-right{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &-secondry{
    height: $nav-secondry-height;
    background-color: #111;
    color: #fff;
    z-index: 1;
    .nav-left{
      a,
      span{
        &:last-child{
          position: relative;
          // &::before{
          //   content: '';
          //   position: absolute;
          //   left: 0;
          //   height: 30%;
          //   top: 35%;
          //   background-color: $color-nav-secondry-txt;
          //   width: 1px;
          // }
        }
      }
    }
    .nav-sections{
      margin-left: 235px;
    }
  }
  &-logo{
    padding: 10px 0 !important;
    img{
      height: 40px;
    }
  }
  &-left,
  &-right{
    position: relative;
    display: flex;
    nav{
      height: max-content;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &-sub{
    display: none !important;
    position: absolute;
    top: $nav-secondry-height;
    background-color: $color-nav-sub-bg;
    color: $color-nav-sub-txt;
    width: max-content;
    min-width: 150px;
    padding-top: 1rem;
    transition: all ease-in-out 300ms;
    a{
      display: block;
      padding: 1.5rem 1rem;
    }
    .sub{
      &:hover > a,
      &:hover > span{
        background-color: #333 !important;
        color: $color-nav-highlight;
      }
      > a,
      > span{
        &::after{
          content: "\f054" !important;
        }
      }
      .nav-sub{
        background-color: #333 !important;
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }

  .nav-account{
    // display: none;
    a, span{
      color: $color-nav-primary-txt !important;
      font-size: 1.3rem;
      &:hover{
        color: $color-nav-highlight !important;
      }
    }
  }
  .current{
    color: $color-nav-highlight;
  }
  .nav-social{

    a{
      position: relative;
      padding: 1.3rem 1.5rem;
      color: #eee;
      font-weight: normal;
      font-size: 0;
      &::before{
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Brands", "Font Awesome 5 Free";
        font-size: 3rem;
      }
      &[href*="facebook.com"]::before{
        content: '\f09a';
      }
      &[href*="twitter.com"]::before{
        content: '\f099';
      }
      &[href*="instagram.com"]::before{
        content: '\f16d';
      }
      &[href*="youtube.com"]::before{
        content: '\f167';
      }
      &[href*="linkedin.com"]::before{
        content: '\f08c';
      }

      &[href*="facebook.com"]:hover::before{
        color: $color-facebook;
      }
      &[href*="twitter.com"]:hover::before{
        color: $color-twitter;
      }
      &[href*="youtube.com"]:hover::before{
        color: $color-youtube;
      }
      &[href*="instagram.com"]:hover::before{
        color: $color-instagram;
      }
      &[href*="linkedin.com"]:hover::before{
        color: $color-linkedin;
      }
    }
  }

  .nav-item{
    position: relative;
    &.sub > a,
    &.sub > span{
      position: relative;
      padding-right: 2rem;
      &::after{
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f078";
        position: absolute;
        top: 40%;
        right: 5px;
      }
    }
    &:hover{
      &.sub > a,
      &.sub > span{
        background-color: $color-nav-sub-bg;
      }
      > .nav-sub{
        display: block !important;
      }
    }
  }
}
@media (max-width: 1268px){
  .nav-primary .nav-regions{
    margin-left: 10px;
  }
  .nav-secondry .nav-sections{
    margin-left: 195px;
  }
}
@media (max-width: 1225px){
  .nav-primary{
    a,span{
      font-size: 1.4rem;
    }
  }
}

.nav-search-form{
  position: relative;
}
.nav-search-form button{
  display: none;
  position: absolute;
  top: 28%;
  right: 10px;
  background-color: #f1f1f1;
  border: none;
}
.nav-search-form .fa{
  color: #000;
  font-size: 2rem;
}

.nav-search-label{
  display: block;
  position: absolute;
  top: 30%;
  right: 17px;
}

.nav-search:focus ~ .nav-search-label,
.nav-search:active ~ .nav-search-label{
  display: none;
}
.nav-search:focus ~ button,
.nav-search:active ~ button{
  display: block;
}

.nav-search{
  background-color: transparent;
  border-radius: 0;
  border: none;
  width: 125px;
  max-width: 400px;
  margin-right: 1rem;
  padding: 1.5rem 40px 1.5rem 1rem;
  transition: all ease-in-out 500ms;
  text-transform: uppercase;
  color: #000;
}
.nav-search:focus{
  color: #000;
  outline: none;
  width: 350px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.nav-search:focus::placeholder{
  color: #888;
  text-align: left;
}
.nav-search::placeholder{
  color: #eee;
  text-transform: uppercase;
  text-align: left;
}
nav.nav-account a{
  font-weight: normal;
  font-size: 1.3rem;
}
.nav-account a::before{
  content: '';
  position: absolute;
  left: 0;
  height: 30%;
  top: 35%;
  background-color: #999;
  width: 1px;
}