@import 'colors';
@import 'mixins';

.newsletter{
  .widget{
    .title{
      @include font-size(1);
    }
    form{
      input{
        @include font-size(1);
        background-color: #f1f1f1;
        color: #333;
      }
      button{
        @include font-size(1);
        background: #f00;
        color: #fff;
      }
    }
  }
}

.newsletter-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  margin: rem-in-px(3) auto;
  * {
    box-sizing: border-box;
  }
  &-col{
    // display: flex;
    &.fields,
    &.interests{
      max-width: 400px;
      width: 100%;
    }
    &.break{
      width: 1px;
      background-color: $color-newsletter-break;
    }
    &.button{
      margin-top: rem-in-px(2);
      flex: 2 0 100%;
      text-align: center;
    }
  }
  &.side{
    transition: right ease-in-out 500ms;
    background-color: #eee;
    border: 1px solid #333;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    padding: 20px 40px;
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 0;
    min-width: 320px;
    max-width: 500px;
  }
  button{
    display: inline-block;
    background-color: #f00;
    text-transform: uppercase;
    color: #fff;
    @include font-size(1);
    font-weight: 700;
    @include font-family('body');
    text-align: center;
    border-radius: 20px;
    border: none;
    max-width: 400px;
    width: 100%;
    padding: rem-in-px(0.5);
  }

  &.hide{
    right: -100%;
  }

  .input-field{
    +.input-field{
      margin-top: rem-in-px(3);
    }
    label{
      display: block;
      @include font-size(1);
      font-weight: 600;
      padding-left: rem-in-px(1.2);
      margin: 5px 0 0;
    }
    input{
      display: block;
      border-radius: 20px;
      padding: 10px;
      border: 1px solid #333;
      width: 100%;
    }
  }
  .interests{
    h4{
      margin: 0;
      text-transform: uppercase;
      @include font-size(1.2);
    }
    .checkboxes{
      display: flex;
      flex-wrap: wrap;
    }
    .checkbox-field{
      flex: 0 0 50%;
      margin: 5px 0;
      label{
        cursor: pointer;
        @include font-size(1);
        text-transform: uppercase;
      }
    }
  }
}

