.newsletter{

  .widget{
    .title{
      font-size: 1rem;
    }
    form{
      input{
        font-size: 1rem;
        background-color: #f1f1f1;
        color: #333;
      }
      button{
        font-size: 1rem;
        background: #f00;
        color: #fff;
      }
    }
  }
}

form.newsletter{
  transition: right ease-in-out 500ms;
  &.side{
    background-color: #eee;
    border: 1px solid #333;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    padding: 20px 40px;
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 0;
    min-width: 320px;
    max-width: 500px;
  }
  &.page{
    
  }
}

.newsletter.hide{
  right: -100%;
}

.newsletter p{
  padding-left: 20px;
}

.input-field label,
.newsletter h4{
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 5px 0 0;
}
.input-field input{
  display: block;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #333;
  width: 100%;
}
.checkboxes{
  display: flex;
  flex-wrap: wrap;
}
.checkbox-field{
  flex: 0 0 33.33%;
  margin: 5px 0;
}
.checkbox-field input{
}
.checkbox-field label{
  cursor: pointer;
  text-transform: uppercase;
}

.newsletter button{
  display: block;
  background-color: #f00;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}