.trd-article-lists{
  margin-bottom: 16px;
  &-content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 0px;
    &-title{
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      margin: 0;
    }
  }
  &-sidebar{
    display: none;
  }
  @media (min-width: 850px) {
    display: flex;
    &-content{
      border-right: 1px solid #ddd;
      max-width: 690px;
      width: 100%;
      padding-right: 10px;
    }
    &-sidebar{
      display: block;
      max-width: 320px;
      padding-left: 10px;
      width: 100%;
      .box{
        margin-bottom: 16px;
      }
      .box .heading2 {
        padding:4px 0 14px 0px;
      }
      .box .heading2 h3 {
        margin:0;
        font-size:28px;
        font-family: 'sina_novamedium';
        line-height:1.238em;
        color:#090909;
      }
      .listings-widget .heading2 h3 {
        margin:0;
        font-size:20px;
        font-family: 'sina_novamedium';
        line-height:1.238em;
        color:#090909;
      }
      .box .heading2 a {
        color:#090909;
      }
      .widget-border{
        border: none;
      }
    }
  }
}
