.trd-article-pagination{
  display: flex;
  justify-content: flex-end;
	font-size: 16px;
  margin-top:10px;
  box-sizing: border-box;

  a {
    color: #1D4D8B;
    &:active,
    &:visited{
      color: #1D4D8B;
    }
  }
  .prev,
  .next {
    padding: 2px !important;
    border: 1px solid #1D4D8B !important;
    margin: 0 0 0 5px !important;
  }
  .prev:hover,
  .next:hover {
    background: $color-trd-ny;
    border: 1px solid $color-trd-ny;
    color: $color-trd-ny-txt;
    text-decoration: none;
  }

  .disabled,
  .disabled:hover {
    background: #fff;
    color: #ccc;
    border: 1px solid #ccc !important;
  }
  .prev:hover a,
  .next:hover a {
    color: #fff;
    text-decoration: none;
  }
}