.video-playlist{
  width: 97%;
  display: none;
  * {
    box-sizing: border-box;
    transition: all 0.6s ease-in-out;
  }
  figure{
    margin: 0;
    a,img{
      display: block;
    }
  }
  
  &-cover{
    &-title{
      display: block;
      color: #000;
      margin-bottom: 10px;
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 1.2;
      text-align: center;
      &:hover,
      &:focus,
      &:active,
      &:visited{
        color: #000;
        text-decoration: underline;
      }
    }
  }
  &-top{
    display: flex;
    flex-direction: row;
    &-title{
      order: 1;
      display: block;
      color: #000;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      line-height: 1.2;
      margin-left: 5px;
      &:hover,
      &:focus,
      &:active,
      &:visited{
        color: #000;
        text-decoration: underline;
      }
    }
    figure{
      order: 0;
      a,
      img{
        width: 118px;
        height: 85px;
      }
    }
  }

  &.dark{
    background-color: #111;
    padding: 15px;
    color: #fff;
    .video-playlist{
      &-cover,
      &-top{
        &-title{
          color: inherit;
          &:hover,
          &:focus,
          &:active,
          &:visited{
            color: inherit;
          }
        }
      }
    }
  }


  .trd-video figure>a{
    position: relative;
    &::before,
    &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      cursor: pointer;
    }
    &::after{
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-left: 20px solid #fff;
      margin-left: 12px;
    }
    &::before{
      width: 60px;
      height: 60px;
      border: 3px solid #fff;
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0,0,0, 0.18);
      background: rgba(0,0,0, 0.42);
    }
    &:hover::before{
      background: rgba(0,0,0, 0.7);
    }
  }

  @media only screen and (min-width: 960px){
    display: grid;
    grid-template-columns: auto 330px;
    grid-template-rows: auto;
    grid-gap: 10px;
    &-cover{
      grid-row: span 4;
      &-title{
        font-size: 28px;
      }
    }
    &-top{
      grid-row: span 1;
    }
  }

  @media only screen and (min-width: 1140px){
    grid-template-columns: 690px auto;
    &-cover{
    }
    &-top{
      figure{
        a,img{
          width: 140px;
          height: 100px;
        }
      }
    }
  }
}
