@import "colors";

.trd-color{
  color: $color-trd-ny !important;
}
.trd-color-btn{
  background-color: $color-trd-ny !important;
  color: $color-trd-ny-txt !important;
}
body.la{
  .trd-color{
    color: $color-trd-la !important;
  }
  .trd-color-btn{
    background-color: $color-trd-la !important;
    color: $color-trd-la-txt !important;
  }
}
body.miami{
  .trd-color{
    color: $color-trd-miami !important;
  }
  .trd-color-btn{
    background-color: $color-trd-miami !important;
    color: $color-trd-miami-txt !important;
  }
}
body.chicago{
  .trd-color{
    color: $color-trd-chicago !important;
  }
  .trd-color-btn{
    background-color: $color-trd-chicago !important;
    color: $color-trd-chicago-txt !important;
  }
}
body.national{
  .trd-color{
    color: $color-trd-national !important;
  }
  .trd-color-btn{
    background-color: $color-trd-national !important;
    color: $color-trd-national-txt !important;
  }
}
body.tristate{
  .trd-color{
    color: $color-trd-tristate !important;
  }
  .trd-color-btn{
    background-color: $color-trd-tristate !important;
    color: $color-trd-tristate-txt !important;
  }
}

.trd-ny-color{
  color: $color-trd-ny !important;
}
.trd-ny-color-btn{
  background-color: $color-trd-ny !important;
  color: $color-trd-ny-txt !important;
}
.trd-la-color{
  color: $color-trd-la !important;
}
.trd-la-color-btn{
  background-color: $color-trd-la !important;
  color: $color-trd-la-txt !important;
}
.trd-miami-color{
  color: $color-trd-miami !important;
}
.trd-miami-color-btn{
  background-color: $color-trd-miami !important;
  color: $color-trd-miami-txt !important;
}
.trd-chicago-color{
  color: $color-trd-chicago !important;
}
.trd-chicago-color-btn{
  background-color: $color-trd-chicago !important;
  color: $color-trd-chicago-txt !important;
}
.trd-national-color{
  color: $color-trd-national !important;
}
.trd-national-color-btn{
  background-color: $color-trd-national !important;
  color: $color-trd-national-txt !important;
}
.trd-tristate-color{
  color: $color-trd-tristate !important;
}
.trd-tristate-color-btn{
  background-color: $color-trd-tristate !important;
  color: $color-trd-tristate-txt !important;
}