$nav-font-family: 'Open Sans', sans-serif;
$nav-height: auto;
$nav-primary-height: auto;
$nav-secondary-height: auto;
$nav-max-width: 1600px;
$nav-zindex: 10000;

$newsletter-checkbox-size: 20px;

$transition-easing: cubic-bezier(0.86, 0, 0.07, 1);