.zdown{
  z-index: 1 !important;
}
.newsletter-logo-color{
  color: $color-trd-ny;
}

body{
  transition: margin  0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
body.move-over{
  margin-left: -250px;
  margin-right: 250px;
}