.newsletter-form{
  margin: rem-in-px(3) auto;

  button{
    display: inline-block;
    background-color: $color-newsletter-button;
    text-transform: uppercase;
    color: #fff;
    @include font-family('body', 400);
    @include font-size(1);
    text-align: center;
    border-radius: 20px;
    border: none;
    min-width: 150px;
    padding: rem-in-px(0.5);
    cursor: pointer;
    transition: all ease-in-out 200ms;
    &:hover{
      letter-spacing: 1px;
    }
    &:disabled{
      background-color: $color-newsletter-button-disabled;
      color: #f1f1f1;
      &:hover{
        letter-spacing: 0;
      }
    }
  }
  input{
    background-color: $color-white;
    border: none;
    transition: all ease-in-out 200ms;
    &:focus{
      outline: none;
      box-shadow: 0 0 0 2px $color-trd-ny;
    }
  }
  &-button,
  &-message{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button,
  &-success,
  &-error{
    margin: rem-in-px(3) auto 0;
  }
  &-success,
  &-error{
    display: none;
    padding: 10px 10px 11px;
    @include font-family('body', 400);
    @include font-size(1);
    max-width: 500px;
    border-radius: 20px;
    line-height: 1.5;
  }
  &-success{
    color: $color-black;
    background: $color-trd-tristate;
  }
  &-error{
    background: $color-trd-ny;
  }
  &-col{
    margin: 0 rem-in-px(1);
  }
  .break{
    height: 1px;
    background-color: $color-newsletter-break;
    margin: rem-in-px(1.5) rem-in-px(1);
  }

  .input-field{
    +.input-field{
      margin-top: rem-in-px(1.5);
    }
    label{
      display: block;
      @include font-size(1);
      font-weight: 600;
      padding-left: rem-in-px(1.2);
      margin: 5px 0 0;
    }
    input{
      display: block;
      border-radius: 20px;
      padding: 10px rem-in-px(1.2);
      border: 1px solid #333;
      width: 100%;
      margin-top: rem-in-px(0.5);
    }
  }
  .interests{
    h4{
      margin: 0;
      text-transform: uppercase;
      @include font-size(1.2);
      letter-spacing: 1px;
      margin-top: rem-in-px(2);
    }
  }
  .checkboxes{
    margin: 0 rem-in-px(1);
  }
  .checkbox-field{
    margin: rem-in-px(0.5) 0;
    label{
      cursor: pointer;
      @include font-size(0.9);
      text-transform: uppercase;
      position: relative;
      transition: all ease-in-out 200ms;
      &::before{
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: $newsletter-checkbox-size;
        height: $newsletter-checkbox-size;
        background: $color-newsletter-checkbox-bg;
        transition: all ease-in-out 200ms;
      }
      &::after{
        transition: all ease-in-out 200ms;
      }
    }
    &#subscribe_all{
      width: 100%;
    }
    input{
      position: absolute;
      opacity: 0;

      &:hover + label::before{
        // background-color: $color-newsletter-checkbox;
      }
      &:focus + label::before{
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
      &:checked + label::before {
        background: $color-newsletter-checkbox;
      }
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }
    
      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: $color-newsletter-checkbox;
      }
    
      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: $color-white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 $color-white,
          4px 0 0 $color-white,
          4px -2px 0 $color-white,
          4px -4px 0 $color-white,
          4px -6px 0 $color-white,
          4px -8px 0 $color-white;
        transform: rotate(45deg);
      }
    }
  }
}